* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  color: #e0ffff;
  font-family: Helvetica;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  color: #003636;
}

.container {
  padding-left:  10px;
  padding-right: 10px;
}

.section {
  background-color: #003636;
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
  padding-top: 35px;
  position: relative;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  width: 90px;
  text-align: center;
  font-size: 1.25em;
}

.quote {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.7;
  padding-top: 10px;
}

#first { background-color: #CA054D;}
#second { background-color: #5E4955;}
#third { background-color: #00B9AE;}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
